@import "~bootstrap/scss/bootstrap";

.generic-text-style {
  margin-top: .77rem;
  padding-right: .2rem;
  padding-left: .3rem;
}
.adv-margin-padding {
  padding-bottom: .375rem;
  padding-top: .375rem;
  margin-top: .77rem;
  border: 1px solid transparent;
}
.input-group-text-background {
  @extend .input-group-text;
  @extend .generic-text-style;
  background-color: transparent;
  border: 1px solid transparent;
}

.dotted-bottom-border {
  border-radius: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted $secondary;
}
.solid-bottom-border {
  border-radius: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $secondary;
}

.width-max-percentile {
  width: 100%;
}
.height-max-percentile {
  height: 100%;
}

.attribute-label {
  width: 12ch;
  text-align: left;
}
.rating-box {
  width: 5.6rem;
  text-align: right;
}
.blood-potency-form-control {
  @extend .form-control;
    display: block;
    width: 20rem;
}
.attribute-min-width {
  min-width: 212px;
}
.discipline-min-width{
  min-width: 212px;
  width: 100%;
}
.skill-col-min-width {
  min-width: 255px;
};
.meaningless-space {
  visibility: collapse;
};
.attrRow {
  column-count: 11;
};
.tracker-min-width {
  min-width: 18px;
}
.custom-sm {
  font-size: .55em;
  vertical-align: 61%;
  color: white;
}